body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(202, 54, 0);
    color: #ffffff;
    margin: 20px;
    text-align: center;
    background-image: url(https://images.freeimages.com/365/images/istock/previews/8833/88337487-orange-color-pattern-background.jpg);
    background-repeat: repeat;
    cursor: url(https://img.icons8.com/?size=48&id=lKAxelEWuaDu&format=png)16 16, auto;
}

h1 {
    background-color: rgb(0, 0, 0);
}

p, ul, table {
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    max-width: 600px;
    margin: 0 auto 1em auto;
}

ul, ol {
    padding-left: 20px;
}

table {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 89, 0);
    width: 60%;
    margin: 0 auto 10px auto;
}

th, td {
    border: 1px dotted black;
}

a {
    color: yellow;
}

a:hover {
    color: green;
}

img {
    border: 2px solid #000000;
    padding: 1px; 
    border-radius: 8px; 
    box-shadow: rgba(0, 0, 0, 0.4) -5px 5px; 
}

